@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'globals';
@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  background-color: cornflowerblue;
}

.home-page {
  justify-content: center;
}

.game-form {
  justify-content: center;
}