@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'globals';
@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  background-color: cornsilk !important;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
}

.home-page {
  justify-content: center;
  padding-block: 5rem;
}

.game-form {
  justify-content: center;
  padding-block: 1rem;
  padding-left: 25rem;
  padding-right: 25rem;
  @media (max-width: 1080px) {
    justify-content: center;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.games-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 1080px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40%;
    margin: auto;
  }
}

.gameCard {
  background-image: url("https://aomioxwmyqjzkimvzuqb.supabase.in/storage/v1/object/sign/storagebuck/bowling wood.jpg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJzdG9yYWdlYnVjay9ib3dsaW5nIHdvb2QuanBnIiwiaWF0IjoxNjM5OTU0OTE4LCJleHAiOjE5NTUzMTQ5MTh9.o6IE654-aore6xz8JYBKb8ceOR4ycdYPEAuT32-L-Z8");
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 10% / 50%;
}