@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'globals';
@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  background-color: cornsilk !important;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
}

.home-page {
  justify-content: center;
  padding-block: 5rem;
}

.game-form {
  justify-content: center;
  padding-block: 1rem;
  padding-left: 25rem;
  padding-right: 25rem;
  @media (max-width: 1080px) {
    justify-content: center;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.games-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 1080px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40%;
    margin: auto;
  }
}

.gameCard {
  background-image: url(https://media.istockphoto.com/vectors/bowling-street-wooden-floor-bowling-alley-background-vector-id1255972670?k=20&m=1255972670&s=612x612&w=0&h=9EQZ4WVEh9ZIPI_U-XLAMD93-nA664p9Yy36N0Td7rM=);
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 10% / 50%;
}